@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

html {
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #dddddd;
    font-size: large;
    text-align: center;
}

.header {
    color: #2889f9;
}

h1 {
    margin: 30px;
    font-size: x-large;
}

p {
    margin: 20px;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.result {
    margin-top: 30px;
    color: #ddff00;
}

#calc {
    align-items: center;
    background-color: #d6145f;
    color: #eee;
    border: none; 
    border-radius: 10px; 
    padding: 20px 140px;
    margin: 20px;
    font-size: medium;
    font-weight: bold;
}

.profiles > button {
    margin-top: 10px;
    padding: 15px 50px;
    background-color: #9a0edb;
    color: #eee;
    border: none; 
    border-radius: 10px; 
    font-size: medium;
    font-weight: bold;
}