@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

html {
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #dddddd;
    font-size: x-large;
}

.header {
    text-align: center;
    color: #2889f9;
}

h1 {
    margin: 30px;
}

p {
    margin: 20px;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.main {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.result {
    margin-top: 30px;
    color: #e2f6b5;
}

#calc {
    top: 50%;
    background-color: #d6145f;
    color: #eee;
    border: none; 
    border-radius: 10px; 
    padding: 20px 180px;
    min-height: 30px; 
    min-width: 120px;
    font-size: medium;
    font-weight: bold;
}

.profiles > button {
    margin-top: 30px;
    padding: 15px 70px;
    background-color: #9a0edb;
    color: #eee;
    border: none; 
    border-radius: 10px; 
    font-size: medium;
    font-weight: bold;
}